.swiper {
          width: 100%;
          padding: 20px 0 60px 0;
        }

        .swiper-button-next,
        .swiper-button-prev {
          color: #10b981;
          background: transperent;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
          font-size: 20px;
          font-weight: bold;
        }

        .swiper-button-next:hover,
        .swiper-button-prev:hover {
          color: #F5EDD8;
        }

        .swiper-pagination {
          position: relative !important;
          margin-top: 30px;
        }

        .swiper-pagination-fraction {
          font-size: 20px;
          font-weight: 600;
          color: #374151;
          letter-spacing: 2px;
        }

        .swiper-pagination-current {
          color: #10b981;
          font-size: 28px;
        }

        @media (max-width: 768px) {
          .swiper-slide > div {
            grid-template-columns: 1fr;
          }
          
          .swiper-slide > div > div:first-child {
            order: 2;
          }
          
          .swiper-slide > div > div:last-child {
            order: 1;
            height: 300px;
          }
        }